
/* 6.9 Contacts */



.map{
  width: 100%;
  height: 26rem;
  border: 0;
  text-align: center;
}

.map-info{
  color:#000;
  text-align: left;
  padding:1rem 0;
}

.map-address-row{
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.4;
}

.map-address-row .fa{
  margin-right: 0.5rem;
}

.gmap-open{
  margin:2rem 0 0;
}

.row-contact{
  margin:-6rem -3.5rem 0;
}

.col-contact{
  margin-top: 6rem;
  padding:0 3.5rem;
}

.contact-title{
  letter-spacing: 0;
  margin:0;
}

.contact-top{
  margin-bottom: 1.3rem;
}

.contact-title span{
  color: #ccc;
  font-weight: 400;
}

.contact-address{
  font-size: 1.2rem;
  letter-spacing: -0.025rem;
}

.contact-row{
  margin-bottom: 0.6rem;
}


.contact-social{
  margin-top: 1rem;
}

.contact-social a{
  color: #999999;
  font-size: 1.3rem;
}

.section-message{
  padding-top: 8rem;
}

.phone-sm, .email-sm {
  font-size: 1rem;
}