


.display-1{
  font-size: 4.28rem;
  line-height: 1;
  letter-spacing: -0.05em;
  margin:0;
}

.display-2{
  font-size: 5.14rem;
  line-height: 1;
  letter-spacing: -0.05em;
  margin: 0;
  text-transform: uppercase;
}

.text-display-1{
  font-size: 1.5rem;
  line-height: 1.7;
  letter-spacing: 0;
}

.text-display-1 p{
  margin-bottom: 3.5rem;
}

.text-display-1 p:last-child{
  margin-bottom: 0;
}

.title-hr{
  width: 7rem;
  max-width: 100%;
  height: 0.28rem;
  background: $default-theme-color;
}

.title-info{
  font-size: 1.28rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 600;
  color: #999999;
  margin-bottom: 1.4rem;
}

.page-header,
.page-header-2,
.page-header-3{
  border-bottom: 0;
  margin:8rem 0 7rem;
  padding: 0;
}

.page-header h1,
.page-header-2 h1,
.page-header-3 h1{
  margin:0;
}

.page-header-3 .title-hr{
  margin-bottom:2.7rem;
}

.section-info{
  color: #999999;
  line-height: 1.111;
  font-size: 1.28rem;
  text-transform: uppercase;
  font-weight: 600;
}

.section-info{
  margin-bottom: 4rem;
}

.section-info .title-hr{
  margin:0 0 2rem;
}

.info-title{
  width: 1px;
}

.bg-dots{
  &.dark {
    background:url(../images/bg/dots2.png) 0 0 repeat;
  }
  &.light {
    background:url(../images/bg/dots-light.png) 0 0 repeat;
  }
}

/* 6.8 About Us */
.section-page{
  padding: 2rem 0;
}

.content-entry-image{
  padding-top: 20%;
  min-height: 10rem;
  background: url(../images/1-1920x800.jpg) 50%;
  background-size: cover;
}


@import "project-grid";
@import "works-carousel";
@import "scrollbar";
@import "project";
@import "news-mansory";
@import "news-listing";
@import "post-detail";
@import "widgets";
@import "services";
@import "partners";
@import "contact";
@import "team";
@import "project-detail";