


/* 6.8.1 Services */
.row-services{
  margin:-4rem -2.5rem 0 -2.5rem;
}

.col-service{
  color:#333;
  margin-top: 4rem;
  padding:0 2.5rem;
}

.col-service h4{
  margin-top: 3.3rem;
}

.col-service p{
  margin-bottom: 0;
}
