/* 6.2 Works Carousel */
.sly {
  position: relative;
  overflow: hidden;
}

.slidee{
  list-style: none;
  padding-left: 0;
}

.sly ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.sly ul li {
  float: left;
  width: 400px;
  height: 100%;
  margin: 0 30px 0 0;
  padding: 0;
}

.prev,
.next{
  position: absolute;
  top:50%;
  color: #fff;
  font-size: 4rem;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.prev.disabled,
.next.disabled{
  opacity: 0.5;
}

.prev:hover,
.next:hover{
  color: $default-theme-color;
}

.prev{
  left:0.5rem;
}

.next{
  right:0.5rem;
}

