.wrapper{
  //padding-top: $navbar-height;
  overflow-x:hidden;
}

.boxed{
  padding-left: 2rem;
  padding-right: 2rem;
}

.boxed .container,
.boxed .container-fluid{
  padding: 0;
  max-width: 100%;
}

.left-boxed{
  left: $left-boxed-size;
}

.right-boxed{
  right:$right-boxed-size;
}

.section{
  padding:1rem 0 0 0;
}

.section-title{
  margin:0;
  padding: 1rem 0;
  position: relative;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    top:0;
    filter: grayscale(100%) contrast(200%) opacity(25%);
  }
  .link-arrow-2{
    margin-top:1.05rem;
  }
  .breadcrumb {
    background-color: transparent;
    padding: 0;
  }
}

.section-subtitle{
  display: inline-block;
  font-weight: 500;
  font-size: 1.142rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $default-theme-color;
  margin-bottom: 1rem;
}

.section-page {
  padding: 1rem 0;
}

/* 3.1 Jumbotron */
.jumbotron{
  position: relative;
  overflow: hidden;
  padding:0;
  margin:0;
  color: #fff;
  background-color: #fff;
}