

/* 3.5  Section Clients */
.section-clients .section-title{
  margin-right: 7rem;
}

.client-carousel{
  margin-top: 4.8rem;
}

.client-carousel .client-carousel-item img{
  display: inline-block;
  width: auto;
}

.client-box{
  position: relative;
  color: #999;
  background-color: #fff;
  padding:6rem 3.28rem 3.28rem;
}

.image-quote{
  position: absolute;
  top:3.28rem;
  right: 3.28rem;
  i {
    font-size: 2rem;
    color: $default-theme-color;
  }
}

.client-img{
  position: relative;
  z-index: 1;
  margin:0 0 -3rem 2.6rem;
  border-radius: 50%;
}

.client-title{
  letter-spacing: 0;
}

.client-name{
  font-size: 1.28rem;
  line-height: 1;
  color: #000;
}

.client-description{
  margin:1.5rem 0 0;
  line-height: 1.71em;
}


.client-carousel .owl-nav{
  right: 0;
  top: -7.8rem;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.client-carousel .owl-prev{
  margin-right: 2rem;
}

